spring.datasource.url=jdbc:mysql://localhost:3306/YOUR_DATABASE
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update

spring.jpa.properties.hibernate.id.new_generator_mappings=false

doku.api.client-id=YOUR_DOKU_CLIENT_ID
doku.api.secret-key=YOUR_DOKU_SECRET_KEY

xendit.api-key=YOUR_XENDIT_SECREAT_KEY
xendit.valid-token=YOUR_XENDIT_WEBHOOK_TOKEN